#myBtn {
    /* display: none;
    background-color: white;
    width: 50px;
    height: 50px;
    line-height: 60px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.2s, opacity 0.2s, visibility 0.5s;
    opacity: 0;
    z-index: 1000; */

    display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: grey; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 12px;
}